<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FRC #9460</title>


  <!--Bootstrap-->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/base.css">

</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="https://www.instagram.com/steelbullsfrc/" target="_blank">

        <img src="../../bootstrap/assets/image/bullslogo-removebg.png" alt="Bootstrap" width="100" height="94">
      </a>
      <a class="nav-link active" aria-current="page" href="Home.html">Home</a>
      <a class="nav-link active" aria-current="page" href="frc.html">FRC</a>
      <a class="nav-link active" aria-current="page" href="equipe.html">Equipe</a>
    </div>
  </nav>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Como surgiu a FRC?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>A sigla "FRC" pode ter vários significados, e o contexto em que você está se referindo não está claro. Pode se referir a diferentes organizações, empresas ou conceitos em várias áreas. Para fornecer uma resposta precisa, preciso de mais informações sobre a qual "FRC" você está se referindo ou a que contexto específico está relacionado. Por favor, forneça mais detalhes para que eu possa ajudá-lo adequadamente.
          
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Quantas equipes de frc tem no brasil?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>A sigla "FRC" refere-se à competição "FIRST Robotics Competition", um programa de robótica educacional internacional. No Brasil, o número de equipes de FRC varia de ano para ano, uma vez que novas equipes são formadas e outras podem deixar de competir. No entanto, a comunidade de robótica no Brasil tem crescido, e o número de equipes de FRC tem aumentado ao longo dos anos..
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          O que é o campeonato First?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>
            O "FIRST" (For Inspiration and Recognition of Science and Technology) é uma organização sem fins lucrativos fundada nos Estados Unidos que visa inspirar jovens a se envolverem com ciência, tecnologia, engenharia e matemática (STEM). O "FIRST" promove várias competições e programas educacionais, sendo uma das competições mais conhecidas o "FIRST Robotics Competition" (FRC).
        </div>
      </div>
    </div>
  </div>

</body>